.MultaResumida {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 16px;
}

.contenidoDeLaMultaResumida {
    width: 90%;
}

.estadoDeLaMultaResumida {
    width: 10%;
    float: right;
    text-align: right;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
}

.MultaResumidaNoResuelta {
    border-color: red;
    color: red;
    background-color: #ffcccc;
}

.MultaResumidaAceptada {
    border-color: green;
    color: green;
    background-color: #ccffcc;
}

.MultaResumidaRechazada {
    border-color: #bf9000;
    color: #bf9000;
    background-color: #fff2cc;
}