.MultaResumida {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}

.contenidoDeLaMultaResumida {
    width: 90%;
}

.estadoDeLaMultaResumida {
    width: 10%;
    float: right;
    text-align: right;
    vertical-align: middle;
    display: table;
    font-weight: bold;
}

.MultaResumidaNoResuelta {
    border-color: red;
    color: red;
    background-color: #ffcccc;
}

.MultaResumidaAceptada {
    border-color: green;
    color: green;
    background-color: #ccffcc;
}

.MultaResumidaRechazada {
    border-color: #bf9000;
    color: #bf9000;
    background-color: #fff2cc;
}