.BarraSuperior {
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: black;
    box-shadow: 0px 4px 5px #aaaaaa;
    color: white;
    text-align: right;
    justify-content: space-between;
}

.izquierda {
    display: flex;
    float: left;
    left: 0px;
}

.derecha {
    display: flex;
    float: right;
    right: 0px;
    flex-direction: row-reverse;
}