.BarraSuperior {
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    box-shadow: 0px 4px 5px #aaaaaa;
    color: white;
    text-align: right;
}

.BarraSuperior img {
    float: right;
}