.Background {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../assets/login-background.jpg);
    background-size: 100% 100%;
}

.Controles {
    position: relative;
    width: 50%;
    height: 80%;
    padding: 0px 20px 0px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Controles input {
    margin: 0px 0px 20px 0px;
    padding: 10px;
    width: 50%;
}

.Controles label {
    margin: 0px 0px 5px 0px;
}

.Controles button {
    background-color: #3494d3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

.Controles button:hover {
    background-color: #81bce4;
}

.Controles button:active {
    background-color: #1c567d;
}