.Background {
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../assets/login-background.jpg);
    background-size: 100% 100%;
}

.Error {
    color: red;
    margin-bottom: 5px;
}

.Controles {
    position: fixed;
    width: 40%;
    height: 70%;
    top: 15%;
    left: 30%;
    padding: 0px 20px 0px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Footer {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 12px;
}