/* css con los estilos globales usados en toda la app */

* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0px;
}

/* el boton que se usa en toda la app */
button {
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

button {
    background-color: #3494d3;
}

button:hover {
    background-color: #81bce4;
}

button:active {
    background-color: #1c567d;
}

/* un boton de fondo gris, como un boton secundario */
/* normalmente usado para "cancelar" */
.BotonCancelar {
    background-color: darkgrey;
    color: black;
}

.BotonCancelar:hover {
    background-color: lightgray;
}

.BotonCancelar:active {
    background-color: gray;
}

/* un boton que va a ser inline */
.BotonInline {
    display: inline;
    background-color: white;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.BotonInline:hover {
    background-color: lightgray;
}

.BotonInline:active {
    background-color: gray;
}