.DropdownMenu {
    position: fixed;
    right: 0px;
    background-color: black;
    color: white;
    padding: 0px;
    width: fit-content;
    z-index: 200;
}

.DropdownMenu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.DropdownMenu li {
    padding: 5px;
}

.DropdownMenu li:hover {
    background-color: #444444;
}

.DropdownMenu a {
    text-decoration: none;
    color: white;
}